In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [2]:
data= pd.read_csv("student_marks.csv")

In [3]:
data.head()

,Student_ID,Test_1,Test_2,Test_3,Test_4,Test_5,Test_6,Test_7,Test_8,Test_9,Test_10,Test_11,Test_12
0,22000,78,87,91,91,88,98,94,100,100,100,100,93
1,22001,79,71,81,72,73,68,59,69,59,60,61,67
2,22002,66,65,70,74,78,86,87,96,88,82,90,86
3,22003,60,58,54,61,54,57,64,62,72,63,72,76
4,22004,99,95,96,93,97,89,92,98,91,98,95,88

In [4]:
data.shape

(56, 13)

In [5]:
data.isnull().sum()

Student_ID    0
Test_1        0
Test_2        0
Test_3        0
Test_4        0
Test_5        0
Test_6        0
Test_7        0
Test_8        0
Test_9        0
Test_10       0
Test_11       0
Test_12       0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  56 non-null     int64
 1   Test_1      56 non-null     int64
 2   Test_2      56 non-null     int64
 3   Test_3      56 non-null     int64
 4   Test_4      56 non-null     int64
 5   Test_5      56 non-null     int64
 6   Test_6      56 non-null     int64
 7   Test_7      56 non-null     int64
 8   Test_8      56 non-null     int64
 9   Test_9      56 non-null     int64
 10  Test_10     56 non-null     int64
 11  Test_11     56 non-null     int64
 12  Test_12     56 non-null     int64
dtypes: int64(13)
memory usage: 5.8 KB

In [7]:
x= data.iloc[:,data.columns!="Test_12"]
y= data.iloc[:,data.columns=="Test_12"]

In [8]:
x.head()

,Student_ID,Test_1,Test_2,Test_3,Test_4,Test_5,Test_6,Test_7,Test_8,Test_9,Test_10,Test_11
0,22000,78,87,91,91,88,98,94,100,100,100,100
1,22001,79,71,81,72,73,68,59,69,59,60,61
2,22002,66,65,70,74,78,86,87,96,88,82,90
3,22003,60,58,54,61,54,57,64,62,72,63,72
4,22004,99,95,96,93,97,89,92,98,91,98,95

In [9]:
y.head()

   Test_12
0       93
1       67
2       86
3       76
4       88

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3,random_state=0)

In [11]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(37, 12) (19, 12) (37, 1) (19, 1)

In [12]:
lin= LinearRegression()

In [13]:
lin.fit(x_train,y_train)

LinearRegression()

In [14]:
pred=lin.predict(x_test)

In [15]:
print(pred)

[[ 81.78454683]
 [ 62.34205273]
 [ 78.71103493]
 [ 66.03675978]
 [ 75.65152756]
 [ 94.71605838]
 [ 75.92402278]
 [ 89.71430386]
 [ 30.74841535]
 [ 30.40508068]
 [ 93.97617156]
 [ 49.99810411]
 [ 62.00843479]
 [ 21.30599019]
 [100.16541993]
 [ 79.03661045]
 [ 53.023691  ]
 [ 64.14401927]
 [ 82.53549885]]

In [16]:
error=np.sqrt(metrics.mean_squared_error(y_test,pred))

In [19]:
print(f"THE ACCURACY SCORE IS{abs(error-100)}")

THE ACCURACY SCORE IS94.59233966571368